.Rproj.user
*.pdf
*.csv
*.npz
*.txt
*.log
!all_mmexperiments_datalist.csv
!all_mmexperiments_datalist_all_replica.csv
!autofluorescence_table.csv
!dataList.csv
!manualCuration.csv
!defocusing_20220727_upwards.csv
!defocusing_20220727_downwards.csv
!bulk_data.csv
!GFP_distribution_Hi2.csv
/gfp_gaussian_process/**
/ggp_notebooks/**
**/core.*
**/results_*
**/errors_*


